<div class="chat">
  <div class="chat__message-container">
    <ul class="chat__messages"></ul>

    <form class="chat__form" action="">
      <input class="chat__text-input" autocomplete="off" /><button class="chat__btn">Send</button>
    </form>
  </div>

  <div>
    <div class="chat__users">
      <h2 class="chat__users-title">Users:</h2>
      <ul class="chat__users-list">
        <!-- Users added by js -->
      </ul>
    </div>

    <form class="chat__username" action="">
      <input class="chat__username-input" autocomplete="off" /><button
        class="chat__btn chat__btn--username">Add username</button>
    </form>
  </div>
</div>