* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font: 13px Helvetica, Arial;
}

.homepage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage__flex-wrapper {
  display: flex;
  flex-direction: column;
}

.homepage__components-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.homepage__signin {
  background-color: aquamarine;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 32px 24px;
  border-radius: 4px;
  margin-right: 24px;
  margin-bottom: 24px;
  width: 240px;
}

.homepage__game-title {
  margin-bottom: 24px;
  width: 100%;
}

.homepage__signup-title {
  margin-bottom: 8px;
  font-size: 18px;
  border-bottom: 2px solid tomato;
  display: inline-block;
}

.homepage__text {
  font-size: 16px;
}

.homepage__name-input {
  margin: 16px 0;
  display: block;
  padding: 8px;
  width: 100%;
  border: 2px;
  border-radius: 2px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.homepage__submit-btn,
.btn {
  padding: 8px 12px;
  background-color: white;
  border-radius: 2px;
  border-width: 1px;
  border: 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  transition: translateY 0.4s linear, background-color 0.5s;
  outline: none;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.btn--outline {
  border: 2px solid tomato;
}

.homepage__submit-btn:hover,
.homepage__submit-btn:focus,
.btn:hover,
.btn:focus {
  background-color: mediumaquamarine;;
}

.homepage__submit-btn:active,
.btn:active {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.section {
  background-color: aquamarine;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 32px 24px;
  border-radius: 4px;
}

.section__title {
  font-size: 18px;
  margin-bottom: 16px;
}

.play {
  min-height: 100vh;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: max-content;
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.play__players {
  grid-row: 2/4;
  grid-column: 1/2;
  text-align: center;
  height: fit-content;
}

.play__player,
.players__list-item {
  font-size: 16px;
  margin-bottom: 8px;
  padding: 4px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.play__player:last-of-type,
.players__list-item:last-of-type  {
  margin-bottom: 0;
}

.play__player,
.players__list-item,
.animal-game__list-item {
  list-style: none;
}

.play__player-score {
  color: tomato;
}

.homepage__start-game {
  margin-top: 16px;
}

.play__start-game {
  padding: 8px;
  background-color: aquamarine;
  border-radius: 2px;
  border-width: 1px;
  border: 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  transition: translateY 0.4s linear, background-color 0.5s;
  outline: none;
  font-size: 16px;
}

/* .main-header {
  padding: 16px;
  background-color: aquamarine;
} */

.players {
  width: 240px;
}

.chat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px;
}

.chat__users {
  width: 250px;
  border: 2px solid black;
  min-height: 140px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
  padding: 8px;
}

.chat__users-title {
  font-size: 13px;
  font-weight: normal;
}

.chat__user-list-item {
  list-style: none;
  margin: 5px 0;
}

.chat__message-container {
  border: 2px solid black;
  height: 500px;
  margin-bottom: 24px;
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 35px;
  position: relative;
  width: 400px;
}

.chat__form {
  border-top: 2px solid black;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.chat__text-input {
  border: 0;
  padding: 10px;
  width: calc(100% - 80px);
}

.chat__btn--username {
  width: 96px;
}

.chat__messages {
  list-style-type: none;
  margin: 0;
  overflow-y: scroll;
  height: 100%;
}

.chat__messages li {
  padding: 5px 10px;
}

.chat__messages li:nth-child(odd) {
  background: #eee;
}

.chat__username {
  width: 250px;
  border: 2px solid black;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
  position: relative;
  display: flex;
}

.chat__username-input {
  border: 0;
  flex: 1;
  padding: 10px;
}

.game-inputs {
  grid-column: 2/6;
  grid-row: 4;
  height: fit-content;
  display: flex;
}

.game-inputs__text-input {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 8px;
  border: 0;
  border-radius: 2px;
}

.animal-game {
  grid-column: 2/6;
  grid-row: 1/4;
}

.game-inputs__btn {
  margin-left: 16px;
}

.animal-game__list {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.animal-game__list-item {
  margin: 16px 12px;
  padding: 8px;
  position: relative;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.animal-game__list-item-span {
  color: tomato;
  font-size: 11px;
  position: absolute;
  left: 8px;
  top: -12px;
  padding: 2px 8px;
  background-color: white;
  border: 1px solid tomato;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.game-description {
  grid-column: 1/2;
  grid-row: 1;
  text-align: center;
  height: fit-content;
}

.game-description__title,
.play__players__title {
  border-bottom: 2px solid tomato;
  display: inline-block;
}

.game-description__text {
  font-size: 18px;
}

.game-inputs__winning-message {
  border-bottom: 2px solid tomato;
  margin: 0 auto;
}

.restart-btn {
  margin-top: 16px;
  transition: opacity 0.5s linear;
}

.opacity-zero {
  opacity: 0;
}
